<!DOCTYPE html>
<html ng-app="app">
<head>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
		crossorigin="anonymous"></link>
		
	<script src="../js/angular.min.js"></script>
	<script src="../js/ng-file-upload-shim.min.js"></script>
	<script src="../js/ng-file-upload.js"></script>
	
	<script src="../js/app.js"></script>
	
	<style type="text/css">
		.thumb {
			width: 24px;
			height: 24px;
			float: none;
			position: relative;
		}
	</style>
</head>
<body>
	<div class="container">
		<center>
			<div class="alert alert-success" >Digital Scan Application</div>
		</center>
		<form name="myForm" ng-controller="SubmitFileCtrl">
			<h3>Upload your file for Digital Scan</h3>
			<!-- BROWSE -->
			<div class="form-group">
				<input type="file" ngf-select="" ng-model="picFile" name="file"
					accept="image/*" ngf-max-size="2MB" /> <i
					ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
			</div>
			<!-- PREVIEW -->
			<div class="form-group">
				<img class="thumb" ng-show="myForm.file.$valid" ngf-thumbnail="picFile" />
				<button class="btn btn-danger btn-xs" ng-click="picFile = null" ng-show="picFile">
					<i class="glyphicon glyphicon-remove"></i> Remove
				</button>
			</div>
			<!-- SUBMIT -->
			<button class="btn btn-success" ng-disabled="!myForm.$valid" ng-click="uploadFile(picFile)">
				<i class="glyphicon glyphicon-ok"></i> Submit
			</button>
			<!-- ALERT -->
			<p>
				<div class="alert alert-danger" ng-show="errorMsg">Upload Error!</div>
				<div class="alert alert-success" ng-show="picFile.result">Upload Successful.</div>
			</p>
		</form>
	</div>
</body>
</html>